.url_bar_container {
  position        : relative;
  display         : flex;
  width           : calc(100% - 18px);
  align-items     : center;
  z-index         : 100;
  background-color: rgba(255, 255, 255, 1.0);
  padding         : 8px;
}

.left-button-container {
  display        : flex;
  width          : 100px;
  align-items    : stretch;
  justify-content: space-evenly;
}

.url_bar {
  border-radius   : 19px;
  width           : 100%;
  background-color: rgb(240, 240, 240);
  border-color    : rgb(235, 235, 235);
  border-style    : solid;
  font-size       : 14px;
  padding         : 6px;
  padding-left    : 10px;
  color           : rgb(25, 25, 25);
  font-size       : 14px;
}

.url_bar:focus {
  outline: none;
}

.url_bar_button {
  width           : 28px;
  height          : 28px;
  padding         : 6px;
  border          : none;
  border-radius   : 100px;
  background-color: transparent;
  cursor          : pointer;
  transition      : 100ms all ease-in-out;
}

.url_bar_button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.url_bar_button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.url-bar-button-disabled {
  pointer-events: none;
}

.url_bar_icon {
  width                : 100%;
  height               : 100%;
  transition           : 100ms all ease-in-out;
  background-color     : rgb(100, 100, 100);
  -webkit-mask-position: center !important;
  -webkit-mask-size    : contain !important;
}

.url_bar_icon:hover {
  background-color: rgb(100, 100, 100);
}

.url-bar-icon-disabled {
  background-color: rgb(200, 200, 200);
}

.forward-icon {
  transform: rotate(180deg);
}

.refresh-icon {}

.right-button-container {
  display        : flex;
  width          : 70px;
  align-items    : stretch;
  justify-content: space-evenly;

}

.profile-button {
  width           : 26px;
  height          : 26px;
  padding         : 0%;
  background-color: rgb(120 199 199);
  border          : 1px solid rgb(115 194 194);
  border-radius   : 1000px;
  overflow        : hidden;
  cursor          : pointer;
}

.profile-icon {}

.menu-icon {
  filter: brightness(250%);
}
