<div class="url_bar_container">
  <div class='left-button-container'>
    <button class="url_bar_button" (click)="back()">
      <img class="url_bar_icon" src="assets/icons/back-forward.svg" alt="Back" />
    </button>
    <button class="url_bar_button" (click)="forward()">
      <img class="url_bar_icon forward-icon " src="assets/icons/back-forward.svg" alt="Forward" />
    </button>
    <button class="url_bar_button" (click)="refresh()">
      <img class="url_bar_icon" src="assets/icons/refresh.svg" alt="Refresh" />
    </button>
  </div>

  <input type="text" class="url_bar" [(ngModel)]="url" (click)="$event.target.select()"
    (keyup.enter)="urlSubmitted($event)" />

  <div class='right-button-container'>
    <button class="profile-button" (click)="openProfileMenu()">
      <img class="profile-icon url_bar_icon" src="assets/icons/blank_profile_picture.png" />
    </button>
    <button class="url_bar_button" (click)="openMenu()">
      <img class="url_bar_icon menu-icon" src="assets/icons/menu.svg" alt="Menu" />
      <app-browser-menu #menu (entryclicked)="menuEntryClicked($event)"></app-browser-menu>
    </button>
  </div>
</div>
