<div class="url_bar_container">
  <div class='left-button-container'>
    <button class="url_bar_button" [ngClass]="{'url-bar-button-disabled': !canGoBack()}" (click)="back()">
      <div class="url_bar_icon back-icon" [ngClass]="{'url-bar-icon-disabled': !canGoBack()}"
        [ngStyle]="{'-webkit-mask': 'url(assets/icons/back-forward.svg) no-repeat center'}">
      </div>
    </button>

    <button class="url_bar_button" [ngClass]="{'url-bar-button-disabled': !canGoForward()}" (click)="forward()">
      <div class="url_bar_icon forward-icon" [ngClass]="{'url-bar-icon-disabled': !canGoForward()}"
        [ngStyle]="{'-webkit-mask': 'url(assets/icons/back-forward.svg) no-repeat center'}">
      </div>
    </button>

    <button class="url_bar_button" (click)="refresh()">
      <div class="url_bar_icon refresh-icon" [ngStyle]="{'-webkit-mask': getReloadIcon()}">
      </div>
    </button>
  </div>

  <input type="text" class="url_bar" [(ngModel)]="url" (click)="$event.target.select()"
    (keyup.enter)="urlSubmitted($event)" />

  <div class='right-button-container'>
    <button class="profile-button" (click)="openProfileMenu()">
      <img class="profile-icon url_bar_icon" src="assets/icons/blank_profile_picture.png" />
    </button>
    <button class="url_bar_button" (click)="openMenu()">
      <div class="url_bar_icon" [ngStyle]="{'-webkit-mask': 'url(assets/icons/menu.svg) no-repeat center'}">
      </div>
      <app-browser-menu #menu (entryclicked)="menuEntryClicked($event)"></app-browser-menu>
    </button>
  </div>
</div>
