.tab-bar-container {
  display      : flex;
  align-content: stretch;
  padding-left : 10px;
  width        : min-content;
  user-select            : none;
}

.new-tab-button {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 20px;
  border          : none;
  background-color: transparent;
  margin-left     : 10px;
  user-select     : none;
}

.new-tab-icon {
  width : 22px;
  height: 22px;
  cursor: pointer;
}

.new-tab-icon:hover {}
