<div class="browser-view-container">
  <div class="url_bar_container">
    <button class="url_bar_button"></button>
    <button class="url_bar_button"></button>
    <button class="url_bar_button"></button>
    <input type="text" class="url_bar" value="{{ this.url }}" onChange="{this.urlChange.bind(this)}"
      onSubmit="{this.urlSubmit.bind(this)}" />
  </div>
  <div class="tab_container">
    <pasco-browser-tab class="tab" *ngFor="let url of userData.urls" [url]="url"></pasco-browser-tab>
  </div>
</div>
