<header class="titlebar">
  <div class="tab-bar">
    <pasco-tab-bar></pasco-tab-bar>
  </div>
  <div class="nav-bar">
    <pasco-navigation-bar></pasco-navigation-bar>
  </div>
  <div class="window_control_row" [style.visibility]="showWindowControls ? 'visible' : 'hidden'"
    (dblclick)="titleBarDoubleClick()" (mousedown)="titleBarMouseDown($event)">
    <div class="window_spacer"></div>
    <div class="window_control_button_wrapper">
      <button class="window_control_button" (click)="minimize()">
        <img class="window_control_icon" src="../../assets/icons/minimize.png" alt="Minimize" />
      </button>
      <button class="window_control_button" (click)="maximizeRestore()">
        <img class="window_control_icon" src="../../assets/icons/maximize.png" alt="Maximize" />
      </button>
      <button class="window_control_button window_control_button_close" (click)="close()">
        <img class="window_control_icon" src="../../assets/icons/close.png" alt="Close" />
      </button>
    </div>
  </div>
</header>
