.titlebar {
  display: block;
  height: 64px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #254053;
  overflow: hidden;
}
.window_control_row {
  display: flex;
  justify-content: flex-end;
}
.window_spacer {
  flex-grow: 1;
}

.window_control_button_wrapper {
  display: flex;
  -webkit-app-region: no-drag;
}
.window_control_button {
  border-style: solid;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  filter: brightness(0.4);
  transition: 100ms all;
  margin-top: 10px;
  margin-right: 5px;
  user-select: none;
}
.window_control_button:hover {
  filter: brightness(1);
}
.window_control_button:focus {
  outline: none;
}
.window_control_button_close:hover {
  filter: brightness(1);
}
.window_control_icon {
  width: 16px;
  height: 16px;
}
