/* You can add global styles to this file, and also import other style files */
html,
body {
  height     : 100vh;
  margin     : 0;
  font-family: sans-serif;
  overflow   : hidden;
}

.root {
  border-left : 1px solid transparent;
  border-right: 1px solid transparent;
}

.background {
  border-radius: 8px;
  overflow     : none;
  position     : fixed;
  top          : 0;
  left         : 0;
  margin       : 0;
  height       : 100%;
  width        : 100%;
  z-index      : -100;
  background   : linear-gradient(200.96deg,
      #2ab0fe -29.09%,
      #dd57d2 51.77%,
      #7a2c9e 129.35%);
}
